<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
  <staticContent>
  <mimeMap fileExtension=".unityweb" mimeType ="TYPE/SUBTYPE" />
  <mimeMap fileExtension=".json" mimeType="application/json" />
  <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
  </staticContent>
    </system.webServer>
</configuration>
